*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1{
    font-family: Poppins;
}
h2{
    font-family:Poppins ;
    font-size: 30px;
    padding-right: 400px;
    padding-left: 20px;
}

header{
    width: 100%;
    background-color: rgb(252, 252, 252)255;
    padding: 10PX;
}
.ban{
    display: flex;
    align-items: center;
}
.enca-img{
    width: 100%;
    background-image: url(pan\ banner.jpeg);
    height: 400px;
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.ban a{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 20px;
    transition: background 0.3s;
    display: inline-block;
}
.ban a:hover{
    background-color: #000000;
    color: #fff8f8;
}
div a{
    margin: 0 40px;
    border-radius: 50px;
    padding: 5px 15px;

}
.sucursales{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.sucursales div{
    text-align: center;
}
.sucursales img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
